.dark {
    background: linear-gradient(
      225deg,
      rgba(0, 0, 1, 1) 36%,
      rgba(156, 152, 152, 1) 100%,
      rgba(251, 251, 251, 1) 100%
    );
    background-repeat: no-repeat;
    color: #fff
  }
  .light {
    background-color: #fff;
    background-repeat: no-repeat;
   
  }